/* Fonts */

/* Changing default properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}

/* Utility classes */

/* ----------------- Styling starts here ----------------- */